.add-post {
  @include container;
  margin-top: $spacing-10;
  margin-bottom: $spacing-10;

  &__form {
    max-width: 653px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
  }

  &__btn {
    @include button-primary;
  }
}

.success-border {
  border-color: $gray-color-light;
}

.form-input {
  border: 1px solid $gray-color-light;
  border-radius: $spacing-1;
  width: 100%;
  height: 52px;
  padding: $spacing-2 $spacing-4;
}

.form-textarea {
  border: 1px solid $gray-color-light;
  border-radius: $spacing-1;
  width: 100%;
  height: 220px;
  padding: $spacing-2 $spacing-4;
}
