.post {
  gap: $spacing-8;

  @include tablet-up {
    gap: $spacing-16;
    margin: $spacing-10 0;
  }

  @include mobile-only {
    flex-direction: column;
  }

  &__author {
    flex-shrink: 0;
    margin-right: $spacing-6;
    position: relative;

    &::after {
      content: '';
      height: 2px;
      width: 34px;
      position: absolute;
      background-color: $gray-color-light;
      bottom: -$spacing-6;
      left: 0;

      @include tablet-up {
        bottom: auto;
        left: auto;
        top: 10px;
        right: calc(-1.5rem - 34px);
      }
    }
  }
}
