.post {
  gap: $spacing-16;
  margin: $spacing-10 0;

  &__author {
    flex-shrink: 0;
    margin-right: $spacing-6;
    position: relative;

    &::after {
      content: '';
      height: 2px;
      width: 34px;
      position: absolute;
      top: 10px;
      right: calc(-1.5rem - 34px);
      background-color: $gray-color-light;
    }
  }
}

.post-item {
  &__image {
    border-radius: $spacing-2;
  }
}
