.slider {
  position: relative;
  height: 600px;
  min-height: 400px;
  background-image: url('/blog-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.slider__content {
  flex-grow: 1;
  position: relative;
  z-index: 2;
  color: $white;
  padding: 0 $spacing-4;
  display: grid;
  align-items: center;
}

.slider__title {
  font-size: $font-size-4xl;
  margin-bottom: 0;
  line-height: $line-height-tight;
}
